.app_main-content-container {
  padding: 0rem 10.5rem;
  margin-top: 7.5rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 5rem;
}

.App {
  position: relative;
}

@media (width <= 1300px) {
  .app_main-content-container {
    padding: 0rem 9.5rem;
    
  }
}

@media (width <= 1250px) {
  .app_main-content-container {
    padding: 0rem 6rem;
  }
}
@media (width <= 1100px) {
  .app_main-content-container {
    gap: 3rem;
  }
}


@media (width <= 1000px) {
  .app_main-content-container {
    display: flex;
    flex-direction : column ;
    margin-top: 3rem;
  }
}

@media (width <= 700px) {
  .app_main-content-container {
    padding: 0rem 2rem;
    margin-top: 2rem;
  }
}


@media (width <= 500px) {
  .app_main-content-container {
    padding: 0rem;
    margin-top: 0rem;
    gap: 1rem;
  }
}